<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>http://223.100.2.221:8383</string>
	<key>host1</key>
	<string>http://47.104.85.148:8080</string>
	<key>hosts</key>
	<array>
		<string>formal,http://47.104.107.196:18070</string>
		<string>test,http://47.104.85.148:18070</string>
	</array>
	<key>getdatareportings</key>
	<string>{host}/credit-webservice-app/restwebservice/app/datareportings/getdatareportings</string>
	<key>getdetails</key>
	<string>{host}/credit-webservice-app/restwebservice/app/datareportings/getdetails/{queryType}/{id}</string>
	<key>getpersonselect</key>
	<string>{host}/credit-webservice-app/restwebservice/app/dataquery/getpersonselet</string>
	<key>getdatacaseDetail</key>
	<string>{host}/credit-webservice-app/restwebservice/app/datacase/getdatacaseDetail/{datacasecode}/{userdepartmentname}/{datameasuresname}</string>
	<key>getFocusPeople</key>
	<string>{host}/credit-webservice-app/restwebservice/app/dataquery/getFocusPeople/{typecode}/{zgrxm}/{zczsbh}/{page}/{pagesize}</string>
	<key>getCompanyList</key>
	<string>{host}/credit-webservice-app/restwebservice/app/dataquery/getcompanylist/{querytype}/{querykey}/{page}/{pagesize}</string>
	<key>getCompanyDetail</key>
	<string>{host}/credit-webservice-app/restwebservice/app/dataquery/getcompanydetail/{usercode}/{xybsm}</string>
	<key>getBlackDetail</key>
	<string>{host}/credit-webservice-app/restwebservice/app/dataquery/getBlackDetail/{usercode}/{xybsm}</string>
	<key>getRedData</key>
	<string>{host}/credit-webservice-app/restwebservice/app/dataquery/getRedData/{usercode}/{xybsm}</string>
	<key>getPersonData</key>
	<string>{host}/credit-webservice-app/restwebservice/app/dataquery/getPersonData/{name}/{idcard}</string>
	<key>getdatacase</key>
	<string>{host}/credit-webservice-app/restwebservice/app/datacase/getdatacase/{datacasename}/{datacasesubjectsname}/{typecode}/{page}/{pagesize}</string>
	<key>getblackshow</key>
	<string>{host}/credit-webservice-app/restwebservice/app/datareportings/getblackshow/{querytype}/{creditname}/{page}/{pagesize}</string>
	<key>getPersonNumDetail</key>
	<string>{host}/credit-webservice-app/restwebservice/app/datapersonnum/getPersonNumDetail/{name}/{idcard}</string>
	<key>getChartsData</key>
	<string>{host}/credit-webservice-app/restwebservice/app/datashow/getChartsData/{begintime}/{endtime}/{userDepartmentCode}/{userfor}</string>
	<key>getCityData</key>
	<string>{host}/credit-webservice-app/restwebservice/app/datashow/getCityData</string>
	<key>getMainPeopleData</key>
	<string>{host}/credit-webservice-app/restwebservice/app/datashow/getMainPeopleData</string>
	<key>getCreditMainData</key>
	<string>{host}/credit-webservice-app/restwebservice/app/datashow/getCreditMainData</string>
	<key>getCreditDataNum</key>
	<string>{host}/credit-webservice-app/restwebservice/app/datashow/getCreditDataNum</string>
	<key>getMonthReportData</key>
	<string>{host}/credit-webservice-app/restwebservice/app/datashow/getMonthReportData</string>
	<key>getCaptcha</key>
	<string>{host1}/gzjk/sendShortMessage.action</string>
	<key>getLoginWithCaptcha</key>
	<string>{host1}/gzjk/quicklogin_quicklogin.action</string>
	<key>getFilledProfileInfo</key>
	<string>{host1}/gzjk/updateUser.action</string>
	<key>getAddedFaceId</key>
	<string>{host1}/gzjk/quicklogin_check.action</string>
	<key>getLoginFaceId</key>
	<string>{host1}/gzjk/quickloginByface.action</string>
	<key>getAddedpushinfo</key>
	<string>{host1}/gzjk/addPushClientEquipment.action</string>
	<key>getInsertNewsRemark</key>
	<string>{host1}/gzjk/insertPl.action</string>
	<key>getNewsRemarks</key>
	<string>{host1}/gzjk/querypl.action</string>
</dict>
</plist>
